:root {
  /* --color-brand--1: #6f4910; */
  --color-brand--1: #dc2139;
  --color-brand--2: #495801;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
font-family: 'Manrope', sans-serif;
color: var(--color-dark--1);
font-weight: 400;
line-height: 1.6;
height: 100vh;
overscroll-behavior-y: none;

background-color: #fff;
padding: 2.5rem;

display: flex;
flex-direction: row-reverse;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
    flex-basis: 50rem;
    background-color: #fff;
    padding: 3rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem .3rem 1rem #ccc;
    z-index: 10;
}

.logo {
    height: 5.2rem;
    align-self: center;
    margin-bottom: 4rem;
}

.instruction {
  font-size: 3rem;
  font-weight: 550;
  box-shadow: 1rem 1rem 1rem rgba(#000, .5);
  color: var(--color-brand--1);
  margin: 15rem auto;
}

.instruction.hidden {
 display: none;
}

.activities {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.activities::-webkit-scrollbar {
  width: 0;
}

.activity {
  background-color: var(--color-light--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}

.activity--working {
    border: 5px solid var(--color-brand--1);
}
.activity--entertaining {
    border: 5px solid var(--color-brand--2);
} 

.activity__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
  grid-row: 1/2;
}
.activity__icon-container{
  width: 2.2rem;
  padding: .5rem;
  grid-column: 4 / 5;
  grid-row: 1/2;
  transition: all .2s;
}
.activity__icon-control {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--color-light--1);
}
.activity__icon-control:hover {
  fill: var(--color-dark--1);
}

.activity__icon-control--big:hover {
  fill: var(--color-light--1);
}
.activity__icon-gps {
  justify-self: start;
}
.activity__icon-delete {
  justify-self: end;
}
.activity__icon-edit {
  justify-self: center;
}

.activity__details {
  display: flex;
  align-items: center;
}

.activity__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  /* height: 0.28rem; */
}

.activity__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.activity__unit {
  font-size: 1.1rem;
  color: var(--color-dark--2);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
    background-color: var(--color-light--2);
    border-radius: 5px;
    padding: 1rem 2.25rem;
    margin-bottom: 1.75rem;
    box-shadow: 0rem .3rem 1rem #ccc;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.25rem;
  
    /* Match height and activity boxes */
    height: 9.25rem;
    transition: all 0.5s, transform 1ms;
  }

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.boundBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
margin: 0 auto;
padding: 1rem;
background-color: var(--color-light--2);
color: var(--color-dark--1);
font-weight: 550;
border-radius: 5px;
border:  none;
outline: none;
box-shadow: 0 .3rem 1rem #ccc;
transition: all .2s;
}

.boundBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-light--2);
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  box-shadow: 0rem .3rem 1rem #ccc;
  background-color: var(--color-dark--2);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-light--2);
  color: var(--color-dark--1);
  border-radius: 5px;
  padding-right: 0.2rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.working-popup .leaflet-popup-content-wrapper {
    border: 2px solid var(--color-brand--1);
}
.entertaining-popup .leaflet-popup-content-wrapper {
  border: 2px solid var(--color-brand--2);
}
.working-popup .leaflet-container a.leaflet-popup-close-button {
  color: var(--color-light--1);
}